body {
    background: #e9ebee;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 575.98px) {
    .ant-row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .ant-col-xs-24 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.progress-custom {
    .ant-progress-bg {
        height: 4px !important;
        border-radius: 0 !important;
    }
}

.ant-btn-icon-only {
    border: 0;
}

.ant-breadcrumb {
    text-transform: capitalize;
}

.ant-notification>span {
    display: flex;
    flex-direction: column-reverse;
}

.ant-form-item-control.has-error {
    .ant-form-explain {
        font-size: 12px;
        font-style: italic;
        margin-bottom: 5px;
        margin-top: 3px;
    }
}

@media (max-width: 575.98px) {
    .ant-popover {
        padding-top: 1px;
    }
}
