// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
.hidden {
    display: none !important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .hidden-sm-up {
        display: none !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .hidden-md-up {
        display: none !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .hidden-lg-up {
        display: none !important;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .hidden-xl-up {
        display: none !important;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .hidden-xs-down {
        display: none !important;
    }
    .static-xs-down {
        .sticky-inner-wrapper {
			position: static !important;
			transform: none !important;
		}
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .hidden-sm-down {
        display: none !important;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .hidden-md-down {
        display: none !important;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .hidden-lg-down {
        display: none !important;
    }
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
